<h1>Annonce numéro <%= @advertisement.id %></h1>

<fieldset>
  <legend><strong><%= @advertisement.title %></strong></legend>
  <p><%= @advertisement.content %><br><strong>Créer par <%= @advertisement.user.name %></strong></p>
  <p>Au prix de <%= @advertisement.price %> €</p>
  <% if !@advertisement.published? %>
    <%= form_tag "/advertisements/#{@advertisement.id}", method: :patch do %>
      <input type="submit" value="Publier l'annonce">
    <% end %>
  <% end %>
</fieldset>

<% if @advertisement.published? %>
  <h1>Commentaires</h1>

  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.content %></p>
        <p><strong>Écrit par <%= comment.user.name %></strong></p>
      </div>
      <hr>
    <% end %>
  </div>

  <% if @current_user %>
    <%= form_tag "/advertisements/#{@advertisement.id}", method: :post do %>
      <div>
        <label for="comment[content]">Message</label><br>
        <textarea name="comment[content]" rows="8" cols="80"><%= @comment.content %></textarea>
        <div class="alert-errors"><%= @comment.errors[:content].first %></div>
      </div>

      <input type="submit" value="Enregistrer commentaire">
    <% end %>
  <% end %>
<% end %>
