<!DOCTYPE html>
<html>
  <head>
    <title>RailsP2AdvertisementsActivity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="alert-success">
        <b>La dernière requête est un succès :</b> <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:info] %>
      <div class="alert-info">
        <b>Informations sur la dernière requête :</b> <%= flash[:info] %>
      </div>
    <% end %>

    <% if !@current_user %>
      <p><a href="/users/login">Connexion</a> | <a href="/users/new">S'enregistrer</a></p>
      <p><a href="/advertisements">Toutes les annonces</a></p>
    <% else %>
      <%= form_tag "/users/login", method: :delete do %>
        <input type="submit" value="Déconnnexion">
      <% end %>
      <p><a href="/advertisements">Toutes les annonces</a> | <a href="/advertisements/new">Ajouter une annonce</a></p>
    <% end %>

    <%= yield %>
  </body>
</html>
